APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change-me
DATABASE_URL=postgresql://app:change-me@database:5432/app?serverVersion=16&charset=utf8

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me
HOST_HTTP_PORT=8002

STRIPE_PUBLIC_KEY=pk_live_xxx
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
