APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change-me
DEFAULT_URI=https://dev.siyaj-editions.com
DATABASE_URL=postgresql://app_preprod:change-me@database:5432/app_preprod?serverVersion=16&charset=utf8

POSTGRES_DB=app_preprod
POSTGRES_USER=app_preprod
POSTGRES_PASSWORD=change-me
HOST_HTTP_PORT=8003

MAILER_DSN=null://null
CONTACT_EMAIL=contact@siyaj-editions.fr

STRIPE_PUBLIC_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
